[DuoApiAuth]
ikey: XXXXXXXXXXXXXXXXXXXX
skey: XXXXXxXXxXXxxXxXXXXxXxXXXxXXXxXXXXXXxxXX
host: api-XXXXXXXX.duosecurity.com

[Configuration]
paranoia_connect: 2
paranoia_reject: 2
loop_delay: 0.2
devices_file: 2facUSB.json
backup_file: 2facUSB.bak
rejected_file: rejected.json
config_file: config.ini
log_file: 2facUSB.log
pid_file: 2facUSB.pid
