[DuoApiAuth]
ikey: XXXXXXXXXXXXXXXXXXXX
skey: XXXXXxXXxXXxxXxXXXXxXxXXXxXXXxXXXXXXxxXX
host: api-XXXXXXXX.duosecurity.com
username: someone_enrolled

[Configuration]
paranoia_connect: 2
paranoia_reject: 2
loop_delay: 0.2
devices_file: USB2fac.json
backup_file: USB2fac.bak
rejected_file: rejected.json
config_file: config.ini
log_file: USB2fac.log
pid_file: USB2fac.pid
